<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
  <!--<style>
    .row {  
  display: flex;
  flex-wrap: wrap;
} 
    .side {
  flex: 25%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {
  flex: 75%;
  background-color: white;
  padding: 20px;
}
  </style> -->
</head>
<body>
<div class="row">
  <div class="side">
    <div class='title'>Is it recyclable or trash?</div>
    <p>
      Upload an image to find out!
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
  <!-- <div class = "main">
    <img src="https://www.waste360.com/sites/waste360.com/files/styles/article_featured_standard/public/recycling%20bins%20recyclables%20flying%20above-ts-680657646-1540.jpg?itok=T_GqsRXq" alt="Recyclables">
  </div> -->
</div>
</body>
</html>
